<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets title for the tab in browser -->
    <title>
    {% if which_leaderboard == "top" %}
        Top 20 Scores 
    {% elif which_leaderboard == "worst" %}
        Worst 20 Scores 
    {% else %}
        ScoreQuest
    {% endif %}
    </title>
    <!-- Import CSS stylesheets and Image for the Web browser Tab -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
</head>
<body>
    <!-- Sidebar -->
    {% include 'partials/sidebar.html' %}

    <!-- Main Content Container -->
    <div class="container">
        <!-- Conditional Rendering to display different header for the page depnding which leaderboard we on -->
        <h1>
            {% if which_leaderboard == "top" %}
                Top 20 Scores 
            {% elif which_leaderboard == "worst" %}
                Worst 20 Scores 
            {% else %}
                All Scores Leaderboard
            {% endif %}
        </h1>            
        
        <!-- Leaderboard Table -->
        <table>
            <!-- Table header section which sets the titles of the columns -->
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Net Score</th>
                </tr>
            </thead>
            <!-- Body of the table -->
            <tbody id="leaderboard">
                <!-- Loop through each user in the leaderboard_data it recieves and display its details in the table -->
                {% for user in leaderboard_data %}
                    <tr>
                        <td>{{ user.rank }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user['overall score'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>