<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets title for the tab in browser -->
    <title>{{name}}'s Submissions</title>
    <!-- Import CSS stylesheets and Image for the Web browser Tab -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usersubmissions.css') }}">
</head>
<body>
    <!-- Sidebar -->
    {% include 'partials/sidebar.html' %}

    <!-- Main Content Container (whole area of screen to right of the sidebar) -->
    <div class="container">
        <div class="leaderboard-section">
            <h1>{{name}}'s Submissions</h1>
            <!-- Information Container (Contains message to user about the search) -->
            <div class="search-message">
                <p class="search-info">
                    <!-- Conditional Rendering to display different messages (appropriate feedback) based on different situations -->
                    {% if user_submissions_data == "Not qualified" %} 
                        The user has not qualified for the leaderboard as they have made less than 3 submissions
                    {% elif user_submissions_data == "User not found" %}
                        No submissions by a user of that name was found in the database
                    {% else %}
                        {{message}} 
                    {% endif %}
                </p>
            </div>
            
            <!--  Conditional Rendering to determine whether to display a container for no results or a table of results-->
            <!--  First Pathway of the conditional rendering where there are no submissions to display-->
            {% if user_submissions_data == "Not qualified" or user_submissions_data == "User not found" %}
            <!-- Container which displays text to say no results found and provides a button to navigate back to the user submission search ppage -->
            <div class="no-results-container">
                <img src="{{ url_for('static', filename='images/notfound.png') }}" alt="No Results" class="no-results-icon" />
                <h2>No Results Found</h2>
                <p class="no-results-text">We couldn't find any matching submissions. You can try adjusting your search filters or return to the search page.</p>
                <button class="back-button" onclick="window.location.href='/findbyuser'">Go Back to User Submission Search</button>
            </div> 
            <!-- Second Pathway of the conditional rendering where there are submissions to display-->
            {% elif user_submissions_data %}
            <!-- Table which displays user submissions -->
            <div class="user-table-container">
            <table class="user-table">
            <!-- Table header section which sets the titles of the columns -->
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Score</th>
                </tr>
            </thead>
            <!-- Body of the table -->
            <tbody>
            <!-- Loop through each submission and display its details in the table -->
            {% for submission in user_submissions_data %}
            <tr>
                <td class="datetext">{{ submission.date }}</td>
                <td >{{ submission.name }}</td>
                <td>{{ submission.score }}</td>
            </tr>
            {% endfor %}
            </tbody>
            {% endif %}
            </table>
            </div>
        </div>
    </div>
</body>
</html>
